li{
  list-style: none;
}
.header{
    position: relative;
    height: 90px;
}
.logo{
    border-radius: 15px;
    position: absolute;
    /* top: 50%; */
    

}
.content_1{
  color: rgb(15, 116, 83);
  font-size: 20px;
  list-style: 2px;
  font-weight: 600;

}
.img_content1{
  width: 100%;
  border-radius: 20px;
}


@keyframes filling {
    from{
      background-position: center 25%;
    }
    to {
      background-position: center 50%;
    }
  }
  
  .container-text {
    background-image:  url(./img/hinh-anh-thien-nhien.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:  #01030c;
    /* padding-top: 10px; */
    font-size: 120px;
    font-family: 'Bungee', cursive;
    animation: filling 5s ease forwards;
    text-align: center;
  }


.card{
    border: none !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
    border-radius: 30px !important;
}
.card-img-top{
    height: 280px !important;
    border-radius: 50% !important;
    padding: 10px !important;
    
}

.name_intro{
    /* color: rgb(48, 107, 218); */
    color: rgb(13, 219, 150);
    font-weight: 800;
    text-align: center;
}
.btn-primary{
  margin-left: 3rem;
}


/* css footer */

.footer{
  margin-top: 30px;
  border: none;
  border-top: 2px solid rgba(116, 49, 22, 0.8);
}
.footer__contact{
  display: flex;
  justify-content: space-between;
}
.footer__company,
.footer__link,
.footer__pay{
  flex: 1;
}

.footer__head{
  font-size: 20px;
  color: rgb(13, 219, 150);
  font-weight: 600;
}
.footer__head-icon,
.positi{
  font-size: 20px;
  color: rgb(13, 219, 150);
  padding: 5px;
}

.footer__copyright{
  margin-top: 5px;
  color: #333;
  opacity: 0.7;
}
