
.header{
    position: relative;
    height: 90px;
}
.logo{
    border-radius: 15px;
    position: absolute;
    /* top: 50%; */
    

}

@keyframes filling {
    from{
      background-position: center 25%;
    }
    to {
      background-position: center 50%;
    }
  }
  
  .container-text {
    background-image:  url(./img/team3-02.png);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:  #0c38d9;
    /* padding-top: 10px; */
    font-size: 170px;
    font-family: 'Bungee', cursive;
    animation: filling 3s ease forwards;
    text-align: center;
  }


.card{
    border: none !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
    border-radius: 30px !important;
}
.card-img-top{
    height: 280px !important;
    border-radius: 50% !important;
    padding: 10px !important;
    
}

.name_intro{
    color: rgb(48, 107, 218);
    font-weight: 800;
    text-align: center;
}

.btn-primary{
    margin-left: 3rem;
}